{% extends 'base.html' %}

{% block meta %}
    <title>Detail Makanan</title>
{% endblock meta %}

{% block content %}
    <div class="w-full min-h-screen flex py-12 px-20 flex-col gap-16">
        <div class="w-full h-[50vh] flex h-fit">
            <section class="basis-1/3">
                <figure class="aspect-square rounded-xl overflow-hidden">
                    <img src="{{ makanan.img_url }}" alt="" class="h-full object-cover object-center">
                </figure>
            </section>
            <section class="basis-2/3 px-12 py-2 flex flex-col">
                <h2 class="text-5xl font-semibold">{{ makanan.nama }}</h2>
                <div class="text-1xl font-thin">
                    <i class="fa-solid fa-star"></i>
                    <span>({{ rating }})</span>
                </div>

                <h3 class="text-2xl font-bold mt-5">Rp{{ makanan.harga }}</h3>
                <div class="card mt-5">
                    <div class="card-body flex-row bg-primary px-5 py-3 max-w-xs text-primary-content justify-between items-center rounded-xl">
                        <h5 class="">{{ makanan.toko.name }}</h5>
                        <a href="{% url 'toko:info_toko' toko_id=makanan.toko.pk %}" class="btn btn-secondary">Kunjungi Toko</a>
                    </div>
                </div>
                <p class="mt-5 text-lg">{{ makanan.deskripsi }}</p>
                {% if is_penjual == True %}
                    <a href="{% url 'makanan:edit' makanan_id=makanan.pk %}" class="btn btn-primary max-w-xs mt-5 self-end"                                                                 `                                                                                       aria-required="false"                                                                                                                                               a>
                        Edit Makanan
                    </a>
                {% else %}
                    <button class="btn btn-primary max-w-xs mt-5 self-end" value="{{ makanan.pk }}" onclick="addToCart(this)">
                        Tambahkan ke Keranjang
                    </button>
                {% endif %}
            </section>
        </div>
        <div class="">
            <h3 class="text-xl font-bold">Reviews</h3>
            <div>
                {% for review in reviews %}
                    <div class="card w-96 bg-primary text-primary-content">
                        <div class="card-body">
                            <h2 class="card-title">Card title!</h2>
                            <p>If a dog chews shoes whose shoes does he choose?</p>
                            <div class="card-actions justify-end">
                                <button class="btn">Buy Now</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}