{% extends 'base.html' %}

{% block meta %}
    <title>Cart</title>
{% endblock meta %}

{% block content %}
    <div class="w-full min-h-screen">
        <div class="w-full px-10">
            <form id="cart-form" method="POST">
                <table class="table table-fixed">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th></th>
                        <th>Menu</th>
                        <th>Harga</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% csrf_token %}
                    {% for item in cart %}
                        <tr id="cart-row-{{ item.pk }}" class="hover">
                            <th class="flex justify-center">
                                <label>
                                    <input type="checkbox" class="cb-checkout checkbox" onchange="checkedButton(this)"
                                           value="{{ item.pk }}" name="cart-item-{{ item.pk }}"/>
                                </label>
                            </th>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="avatar">
                                        <div class="mask mask-squircle w-12 h-12">
                                            <img src="/tailwind-css-component-profile-2@56w.png"
                                                 alt="Avatar Tailwind CSS Component"/>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">{{ item.makanan.nama }}</div>
                                        <div class="text-sm opacity-50">{{ item.makanan.toko }}</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{ item.makanan.harga }}
                                <br/>
                                <span class="badge badge-ghost badge-sm">{{ item.makanan.kategori }}</span>
                            </td>
                            <th class="join">
                                <button class="btn join-item" type="button" onclick="decreaseQuantity(this)"
                                        value="{{ item.pk }}">-
                                </button>
                                <div>
                                    <input class="input w-14 join-item" disabled type="text" id="quantity-{{ item.pk }}"
                                           value="{{ item.jumlah }}" min="1"/>
                                </div>
                                <button class="btn join-item" type="button" onclick="increaseQuantity(this)"
                                        value="{{ item.pk }}">+
                                </button>
                            </th>
                            <th>
                                <button
                                        onclick="deleteItem(this.value)"
                                        type="button"
                                        value="{{ item.pk }}"
                                        class="btn flex justify-center items-center btn-square bg-transparent border-transparent"
                                >
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="flex items-center float-end w-1/3 mt-5 mr-16 gap-10">
                    <div class="flex flex-col">
                        <span class="text-sm">Total:</span>
                        <span id="total-price" class="font-bold text-xl">$0</span>
                    </div>
                    <button type="button" onclick="submitForm()" class="btn btn-primary grow rounded-full">
                        Checkout
                    </button>
                </div>
            </form>
            <dialog id="kelebihan_alert" class="modal">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">Peringatan</h3>
                    <p class="py-4">Stok makanan tidak mencukupi</p>
                    <div class="modal-action">
                        <form method="dialog">
                            <!-- if there is a button in form, it will close the modal -->
                            <button class="btn">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>
        </div>
    </div>
    <script>
        const daftarKeranjang = {}
        let hargaTotal = 0
        const hargaElement = document.getElementById('total-price')

        {% for item in cart %}
            daftarKeranjang["{{ item.pk }}"] = {};

            daftarKeranjang["{{ item.pk }}"]['stok'] = {{ item.makanan.stok }}
            daftarKeranjang["{{ item.pk }}"]['harga'] = {{ item.makanan.harga }}
            daftarKeranjang["{{ item.pk }}"]['jumlah'] = {{ item.jumlah }}
            daftarKeranjang["{{ item.pk }}"]['check'] = false
        {% endfor %}

        function hitungTotalHarga() {
            hargaTotal = 0
            for (let item in daftarKeranjang) {
                if (daftarKeranjang[item]['check']) {
                    hargaTotal += daftarKeranjang[item]['harga'] * daftarKeranjang[item]['jumlah']
                }
            }
        }

        async function updateHarga() {
            hitungTotalHarga()

            hargaElement.innerText = `${hargaTotal}`
        }

        async function checkedButton(el) {
            daftarKeranjang[el.value]['check'] = el.checked
            await updateHarga()
        }

        updateHarga()

        async function deleteItem(id) {
            // 9999 is only a placeholder
            await fetch(`{% url 'keranjang:delete-item' keranjang_id=9999 %}`.replace(/9999/, id), {
                method: "DELETE"
            })

            document.getElementById(`cart-row-${id}`).remove()
            delete daftarStok[id]
        }

        async function updateJumlah(id, quantity) {
            var data = new FormData()
            data.append('jumlah', quantity.toString())

            await fetch("{% url 'keranjang:update-jumlah' keranjang_id=9999 %}".replace(/9999/, id), {
                method: "POST",
                body: data
            })
        }

        async function decreaseQuantity(el) {
            let quantityInput = document.getElementById(`quantity-${el.value}`);
            let quantity = Number(quantityInput.value);
            if (quantity > 1) {
                quantityInput.value = quantity - 1;
                daftarKeranjang[el.value]['jumlah'] = quantity - 1;

                await updateJumlah(el.value, quantity - 1)

                updateHarga()
            }
        }

        async function increaseQuantity(el) {
            let quantityInput = document.getElementById(`quantity-${el.value}`);
            let quantity = Number(quantityInput.value);

            if (quantity >= daftarKeranjang[el.value]['stok']) {
                kelebihan_alert.showModal();
                return
            }

            quantityInput.value = quantity + 1;
            daftarKeranjang[el.value]['jumlah'] = quantity + 1;

            await updateJumlah(el.value, quantity + 1)

            updateHarga()
        }

        async function submitForm() {
            var data = new FormData()

            const items = []

            for (const item in daftarKeranjang) {
                if (daftarKeranjang[item]['check']) {
                    items.push(item)
                }
            }

            data.append('obj', JSON.stringify(items))
            data.append('total', hargaTotal.toString())

            await fetch("{% url 'keranjang:checkout-cart' %}", {
                method: "POST",
                body: data
            })

            window.location.replace("{% url 'order:show_main_pembeli' %}");
        }
    </script>
{% endblock content %}
