{% extends 'base.html' %}

{% for og in order_group %}
<card>
  <h5>Order ID: {{og.orderID}}</h5>
  {% for order in og %}
    <card>
      <h5>{{order.makanan.nama}}</h5>
      <h5>{{order.quantity}}</h5>
      <h5>{{order.makanan.harga}}</h5>
    </card>
  {% endfor %}
  <h5>Total harga: {{total_harga}}</h5>
  <h5>Status:</h5>
  <h5 id="order_status">{{status}}</h5>
  <button 
  type="button" 
  class="btn btn-primary"
  id="status-btn"
  data-status="{{order.status}}"
  data-id="{{order.pk}}"
  onclick="updatePesanan(this)"
  >
  Batalkan Pesanan</button>
</card>
{% endfor %}

<card>
  <h5>Asal</h5>
  <h5>12</h5>
  <h5>fasilkom</h5>
  <h5>Status pesanan:</h5>
  <h5 id="order_status">Proses</h5>
  <button type="button" class="btn btn-primary" id="status_btn" value="diproses" onclick="updatePesanan(this)">Batalkan Pesanan?</button>
</card>

<!-- <script>
document.getElementById('batal').addEventListener('click', function() {
  const url = '/edit_status_batal/';
  const data = {};
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (response.ok) {
      return response.json();
    } else {
      throw new Error('Failed to update status');
    }
  })
  .then(data => {
    if (data.status === 'success') {
        document.getElementById('order_status').textContent = 'Pesanan Dibatalkan';
        
    } else {
      console.error(data.message);
    }
  })
  .catch(error => {
    console.error(error);
  });
});
</script> -->

<script>
  async function updatePesanan(el) {
    const orderStatus = document.getElementById('order_status')

    var data = new FormData();
    data.append("order_id", "");
    const res = await fetch("{% url 'order:edit_status_penjual' %}", {
      method: "POST",
      body: {},
    });

    orderStatus.textContent = "Pesanan Dibatalkan"
    el.classList.remove('btn-primary')
    el.classList.add('btn-secondary')
  }
 </script>

{% endblock content %}