{% extends 'base.html' %}

{% for og in order_group %}
<card>
  <h5>Order ID: {{og.orderID}}</h5>
  {% for order in og %}
    <card>
      <h5>{{order.makanan.nama}}</h5>
      <h5>{{order.quantity}}</h5>
      <h5>{{order.makanan.harga}}</h5>
    </card>
  {% endfor %}
  <h5>Total harga: {{total_harga}}</h5>
  <h5>Status:</h5>
  <h5 id="status">{{status}}</h5>
  <button type="button" id="batal">Batalkan Pesanan</button>
</card>
{% endfor %}

<script>
document.getElementById('batal').addEventListener('click', function() {
  const url = '/edit_status_batal/';
  const data = {};
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (response.ok) {
      return response.json();
    } else {
      throw new Error('Failed to update status');
    }
  })
  .then(data => {
    if (data.status === 'success') {
        document.getElementById('status').textContent = 'Pesanan Dibatalkan';
        
    } else {
      console.error(data.message);
    }
  })
  .catch(error => {
    console.error(error);
  });
});
</script>

{% endblock content %}