{% extends 'base.html' %}
{% block content %}

{% for order in orders%}
<card>
    <h5>{{order.makanan.nama}}</h5>
    <h5>{{order.quantity}}</h5>
    <h5>{{order.user}}</h5>
    <h5>Status pesanan:</h5>
    <h5 id="status">{{status}}</h5>
</card>
{% endfor %}

<button type="button" id="diproses">Pesanan Diproses</button>

<script>
document.getElementById('diproses').addEventListener('click', function() {
  const url = '/edit_status_penjual/';
  const data = {};
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrfToken
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (response.ok) {
      return response.json();
    } else {
      throw new Error('Failed to update status');
    }
  })
  .then(data => {
    if (data.status === 'success') {
        document.getElementById('status').textContent = 'Diproses';
    } else {
      console.error(data.message);
    }
  })
  .catch(error => {
    console.error(error);
  });
});
</script>

{% endblock content %}