{% extends 'base.html' %}

{% block meta %}

{% endblock meta %}

{% block content %}
    <div class="drawer lg:drawer-open -mt-20">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
        <div class="drawer-content flex flex-row pt-24 px-14 pb-10">
            <main class="w-full flex flex-col">
                <div class="card w-full bg-primary/10 text-secondary-content">
                    <div class="card-body">
                        <h2 class="card-title text-2xl">{{ forum.judul }}</h2>
                        <div class="flex -mt-1 mb-1 gap-2">
                            {% for k in forum.kategori.all %}
                                <div class="badge badge-secondary badge-sm py-2">{{ k.nama }}</div>
                            {% endfor %}
                        </div>
                        <p>{{ forum.deskripsi }}</p>
                        <div class="card-actions mt-5 items-center text-primary">
                            <button class="btn btn-sm btn-square text-lg shadow-none border-none bg-clip-text">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                            <span class="text-sm mr-3 -ml-1 font-semibold"></span>
                            <a href="{% url 'forum:buat-pesan' forum.pk 0 %}" class="btn btn-sm btn-square text-lg shadow-none border-none bg-clip-text">
                                <i class="fa-regular fa-comment"></i>
                            </a>
                            <span class="text-sm mr-3 -ml-1 font-semibold">{{ forum.jumlah_pesan }}</span>
                            <button class="btn btn-sm btn-square text-lg shadow-none border-none bg-clip-text">
                                <i class="fa-regular fa-share-from-square"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="msg-box-container" class="mt-5 flex flex-col gap-4 text-primary-content">

                </div>
            </main>

        </div>
        <div class="drawer-side">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="px-6 pt-24 min-w-md min-h-full text-base-content">
                <li class="w-full">
                    <a href="{% url 'forum:create' %}"
                       class="btn btn-primary w-full btn-md my-4 rounded-full gap-2 items-center">
                        <i class="fa-regular fa-plus"></i>
                        <span>Buat Forum</span>
                    </a>
                </li>
                <li class="font-bold">Categories</li>
                <ul class="menu">
                    <!-- Sidebar content here -->
                    {% for category in categories %}
                        <li class="flex flex-col">
                            <a href="{% url 'forum:home' %}?kategori={{ category.nama }}">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                <span class="self-start text-secondary-content">{{ category.nama }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <li class="font-bold">Popular Forum</li>

            </ul>
        </div>
    </div>

    <script>
        const replies = {}
        const msgBoxContainer = document.getElementById("msg-box-container")

        async function getAllReplies() {
            const res = await fetch('{% url "forum:get-replies" forum.pk %}')
            const data = await res.json()

            console.log(data)

            data.forEach(msg => {
                if (msg.membalas_ke === undefined) {
                    replies[msg.pk] = {
                        body: msg.fields.pesan,
                        reps: []
                    }
                } else {
                    const reply = {
                        body: msg.fields.pesan
                    }
                    replies[msg.membalas_ke]['reps'].push(reply)
                }
            })

            console.log(replies)
        }

        function renderReplies() {


            for (let reply in replies) {
                let msgBox = document.createElement("div")
                msgBox.classList.add("card")
                let msgBody = document.createElement("div")
                msgBody.classList.add("card-body", "bg-primary", "rounded-xl")

                console.log(reply)

                msgBody.innerHTML = `
                    <h1 class="card-title"></h1>
                    <p>${replies[reply].body}</p>
                `

                msgBox.appendChild(msgBody)

                msgBoxContainer.appendChild(msgBox)
            }
        }

        (async () => {
            await getAllReplies();
            renderReplies()
        })()

        async function createReply() {

        }

    </script>
{% endblock content %}